@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(/images/rainBackgroundDark.jpg);
    background-size: cover;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: lightgray;
    margin: 16px 0;
    font-weight: 800;
}

h3 {
    margin: 8px 0;
    font-weight: 500;
}

p {
    margin: 16px 0;
    line-height: 1.75;
    font-weight: 400;
}

/* Layout */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 60px;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

header {
    background-color: #91C8E4;
    grid-column-start: span 3;
}

aside {
    background-color: #4682A9;
    grid-column-start: span 1;
}

main {
    background-color: #749BC2;
    grid-column-start: span 2;
}

footer {
    background-color: #F6F4EB;
    grid-column-start: span 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width:1080px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
        width: 100%;
    }

    header,
    aside,
    main,
    footer {
        grid-column-start: span 4;
    }
}


/* Navigation */
header {
    line-height: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

nav ul li {
    display: inline;
    padding: 0 16px;
}

nav ul li a {
    color: #202020;
}

.mobile {
    display: none;
}

.show {
    display: block;
}

/* Aside */
aside {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding: 0 16px 16px 16px;
}


/* Weather menu */
.weatherMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #4682A9;
}

button {
    width: 100%;
    background-color: #91C8E4;
    border-color: #202020;
    border-radius: 8px;
    border-width: 1px;
    padding: 8px;
    font-weight: 500;
    color: #202020;
}

/* Current weather */
.current {
    display: none;
}

.showCurrent {
    display: grid;
    width: 100%;
}

.weatherCurrent {
    height: 100%;
    width: 100%;
    padding: 16px;
    background-color: #749BC2;

    img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Forecast */
.forecast {
    display: none;
}

.showForecast {
    display: flex;
    flex-wrap: wrap;
}

.day {
    height: auto;
    width: 20%;
    padding: 16px;
    background-color: #749BC2;

    img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1080px) {
    nav {
        position: relative;
    }

    nav ul {
        display: none;
        width: 100%;
        background-color: #F6F4EB;
        position: absolute;
        top: 100px;
        height: 40vh;
        text-align: center;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        color: #202020;
    }

    a.mobile {
        color: #202020;
        font-size: 32px;
        display: block;
    }

    .showCurrent {
        display: block;
    }

    .weatherCurrent {
        width: 1fr;
        height: auto;
        padding: 16px;
        img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .showForecast {
        display: flex;
        flex-wrap: wrap;
    }

    .day {
        height: auto;
        width: 50%;
        padding: 16px;
        img {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}